In [ ]:
def addition(a,b):
    c=a+b
    return c

In [ ]:
a=int(input('enter a no'))
b=int(input('enter a no'))
addition(a,b)

In [ ]:
def large(a,b,c):
    if(a>b)and(a>c):
        return a
    elif b>a and b>c:
        return b
    else:
        return c

In [ ]:
a=int(input("enter a no: "))
b=int(input("enter a no: "))
c=int(input("enter a no: "))
print("large is",large(a,b,c))

In [ ]:
score=[10,20,18,17,16,15,14]
sc_set=set(score)
top=max(sc_set)
sc_set.remove(top)
print(max(sc_set))

In [ ]:
top

In [ ]:
set1={5,4,3,2,1}
set2={6,7,8,9,2}
if set1.intersection(set2):
    print(set1&set2)
else:
        print(set1.union(set2))

In [2]:
D={'John':[25,32,43],'Peter':[87,55,96],'Ram':[58,55,43],'Meena':[63,79,85]}
n=input("Enter the name to be updated: ")
if n in D:
    D[n]=[80,77,99]
    print(D)
else:
    print('the name not found')

Enter the name to be updated: Meena
{'John': [25, 32, 43], 'Peter': [87, 55, 96], 'Ram': [58, 55, 43], 'Meena': [80, 77, 99]}

In [3]:
s='Nirmala'
s[::2]

'Nraa'

In [5]:
age=[23,36,30]
print('elder=',max(age))
print('young=',min(age))

elder= 36
young= 23